/* Styling for all components*/


/*///////////////////////////////////////////////////////////////*/
/* General Styles*/
body{
  background-color:rgb(247, 249, 255) !important;
  color:rgb(59, 59, 59);
  padding: 0;
  font-family: Arial, sans-serif;
  min-width:300px;
}

.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  /* padding: 0em 3em; */
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px red solid; */
  padding: 0px;
}


h1{
    color:  rgb(94, 248, 164);
}

.btn-primary{
  background-color: #3a7bd5 !important;
}
.btn-success{
  border: none !important;
  background-color: #31ac60 !important;
}
.btn-success:hover{
  background-color: #299754 !important;
}
.btn-primary:hover{
  background-color: #1456b3 !important;
}
button.x, .git{
  margin: 0em .2em;
}
button.x:hover, .git:hover, .version:hover{
  background-color: white !important;
  color: #3a7bd5 !important;
 
}
button.x:active, .git:active, .version:active{
  background-color: white !important;
  color: #3a7bd5 !important;
  border-width: 2px;
}
code{
  color: #1456b3 !important;
  font-weight: 800 !important;
}

.bullet{
  background-color:#31ac60;
  color:#31ac60;
  width: 15px;
  margin-right: .5em;
  
}

.icon{
  margin-right: .5em;
}

.lg{
  display: none;
}


/*///////////////////////////////////////////////////////////////*/
/* Styling for Navbar and Header*/
.top-line{
  font-size: .75em;
  /* background-color: #3a7bd5; */
  color: white;
  padding: .5em;
}

.top-bg{
  background: linear-gradient(to right, #00ff62,#3a7bd5, #3a7bd5);
}

.logo{
  font-size: 1.5em;
  font-weight: 700;
  color: #3a7bd5;
  font-family: Helvetica, sans-serif;
}
.version{
  padding: .35em 2em !important;
  margin-right: .5em;
}

/* Header */
section.header{
  margin-top: 8em;
  margin-bottom: 5em;
}
section.header h2{
  font-size: 3em;
  font-weight: 700;

}
 div.download{
  justify-content: space-between;

 }
 .download button{
  margin: 1em .5em;
 
 }

 .fade-in{
  background: linear-gradient(to right, #00ff62, #3a7bd5, #00ff55); /* Light blue to green */
  background-size: 200% 100%;
  color: transparent;
  -webkit-background-clip: text;
  animation: fadeIn 5s linear infinite alternate;

}

@keyframes fadeIn{
  0% {
    background-position: 0% 50%;

  }
  100% {
    background-position: 100% 50%;

  }
}
/*///////////////////////////////////////////////////////////////*/
/* Styling for Guide Section*/

section.guide {
  margin-top: 3em;
  padding: 10em 5em;
  border-radius: 1.5em;
  background-color: rgb(199, 237, 255);
  justify-content: center;
}
section.guide aside {
  margin-top: 2em;
  margin-bottom: 2em;
}
aside.steps  {
  margin-right: 5em;
}
.steps h5 {
  font-size: 2em;
  text-align: left;
  margin-bottom: .5em;

}
.steps h6 {
  text-align: left;
  margin-top: 1em;
  margin-bottom: .5em;

}

.steps p{
  margin: .5em 0em;
  text-align: left;
  font-size: .85em;
}
p.h{
  font-size: .9em;
  font-weight: 700;
  margin-top: 1em;
}
aside.guide-image{
  background-color: white;
  border-radius: 1.5em;
}

/*///////////////////////////////////////////////////////////////*/
/* Styling for Dev Section*/

section.dev {
  margin: 3em 10em;
  padding: 2em .5em;
  background-color: white;
  justify-content: center;

}

section.dev aside{
  margin: 0em;
}

aside.dev-hero-text {
  border-left: 10px solid #31ac60 ;
}
.dev-hero-text h3{
  font-size: 3em;
  text-align: left;
}

.dev-text{
  font-size: .85em;
  text-align: left;
  margin-left: 1em;
}

/*///////////////////////////////////////////////////////////////*/
/* Styling for Footer Section*/

footer {
  margin-top: 3em;
  padding: 3em 1em;
  background-color: grey;
  justify-content: center;
}

.salute{
  font-weight: 800;
  font-size: .9em;
}

footer code {
  color: lightgrey !important;
}

aside.about{

  margin-left: 5em;
}
aside.about p {
  text-align: left;
  font-size: .85em;;
  
}
div.nav-link{
  margin: 0em !important;
}
div.nav-link ul{
  display: flex;
  justify-content: flex-start;
  margin: 0em;
  padding:0em;
}

div.nav-link ul>li{
  margin-right: 1em;
  list-style: none;
}
div.nav-link ul>li button{
  border-radius: .3em;
  background-color: gray;
  border: lightgray solid 2px;
  color: lightgray;
}
div.nav-link ul>li button:hover{
  border-radius: .3em;
  background-color: rgb(116, 115, 115);
  border: lightgray solid 2px;
  color: lightgray;
}

.copyright{
  font-size: .8em;
}

  /* Media query for small screens */

    @media screen and (max-width: 767px) {
  .navbar{
    margin: 0rem .5em;
    padding: 0em !important;
    /* border: 2px solid red; */
    align-items: baseline !important;
    /* background-color: white !important; */
    /* z-index: -1; */
    
  }
   .version{
    display: none !important;
   }
   .logo{
    font-size: 1.4em;
    margin: .1em 0em .1em 0em;
     /* border: 2px solid red; */
   }

   /* header */

   section.header{
    /* border: 2px solid red; */
    margin-top: 5em;
    margin-bottom: 2.0em;
    padding: .5em 2em;

   }
   section.header h2{
    font-size: 3em;
    font-weight: 800;
    text-align: left;
   }
   section.header p{
    text-align: left;
    font-size: .9em;
   }

   .sm{
    display: none;
   }
   .lg{
    display: block;
   }
   .download{
    padding: 0em 6em 0em .5em;
    margin-top: 2.5em !important;
    margin-bottom: 0em !important;
    /* border: 2px solid red; */
    
   }
   .download button{
    margin: .5em .1em;
   }

   /* guide section */

   section.guide{
    padding: 2em;
    margin: 0em;
   }
   aside.steps{
    /* border: green 2px solid; */
    margin: 0em;
   }
   aside.guide-image{
    /* border: green 2px solid; */
    margin: 0em;
    height: 200px;
   }
  
   /* dev section */
   section.dev{
    margin: 1.5em 0em;
    padding: 2em;
   }

   section.dev .dev-hero-text{
    font-size: .8em;
    margin-bottom: 1.5em;
   }

   /* footer */
   footer{
    margin: 0em;
    padding: 2em;
   }

   footer .about{
    /* border: 2px solid green; */
    margin: 0em;
    padding: 2.5em;
    color: lightgrey;
   }
   footer code {
    color: #000000 !important;
    font-weight: 900;
  }
  }
  /* Media query for Medium screens */
@media screen and (min-width: 767px) and (max-width: 991px){
  section.header{
    /* border: 2px solid red; */
    margin-top: 5.5em;
    margin-bottom: 2.0em;
    padding: .5em 2em;

   }
   section.header h2{
    font-size: 2.5em;
    /* text-align: left; */
   }
   section.header p{
    /* text-align: left; */
    font-size: .9em;
   }

   .sm{
    display: block;
   }

   .lg{
    display: block;
   }
   .download{
    padding: 0em 12em  ;
    margin-top: 2.5em !important;
    margin-bottom: 0em !important;
    /* border: 2px solid red; */
    
   }
   .download button{
    margin: .5em .1em;
   }

   /* guide section */

   section.guide{
    padding: 2em;
    margin: 0em;
   }
   aside.steps{
    /* border: green 2px solid; */
    margin: 2em;
    font-size: .8em;
   }
   aside.guide-image{
    /* border: green 2px solid; */
    margin: 0em;
    height: 300px;
   }
  
   /* dev section */
   section.dev{
    margin: 1.5em 0em;
    padding: 2em;
   }

   section.dev .dev-hero-text{
    font-size: .8em;
    margin-bottom: 1.5em;
   }

   /* footer */
   footer{
    margin: 0em;
    padding: 2em 10em;
   }
   footer .sm{
    display: none;
   }
   footer .about{
    /* border: 2px solid green; */
    margin: 0em;
    padding: 2.5em;
    color: lightgrey;
   }
}
  /* Media query for Medium large */
@media screen and (min-width: 991px){

.download{
  justify-content: center !important;
 padding: 0em 2em  ;
 margin-top: 2.5em !important;
 margin-bottom: 0em !important;
 /* border: 2px solid red; */
 
}
.download button{
 margin: .5em .8em;
 max-width: 200px !important;
}
}